
# Python cache files
__pycache__/

# Python distribution / packaging
dist/
build/
*.egg-info/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# IDE specific files
.vscode/
.idea/

# Miscellaneous
*.log
*.swp
.DS_Store
Thumbs.db

# OpenAI Config
OAI_CONFIG_LIST
.env

# Jupyter Notebook
.ipynb_checkpoints
